<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720617877358-4ol3v891rpo3t7fdocc9foauoeeoa2fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720617877358-4ol3v891rpo3t7fdocc9foauoeeoa2fd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720617877358-kh4spp0o0csdtvftdd1cpkd5vcftrf0j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG72gXnQmuM2i8fN5oA97Vp_DYyhkZ3_A</string>
	<key>GCM_SENDER_ID</key>
	<string>720617877358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharethis</string>
	<key>PROJECT_ID</key>
	<string>share-this-39e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>share-this-39e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720617877358:ios:8f19c296d68748acc51b7f</string>
	<key>DATABASE_URL</key>
	<string>https://share-this-39e9a-default-rtdb.firebaseio.com</string>
</dict>
</plist>